{% extends 'partials/layout.html' %}
    
{% block nav %}
{% include "partials/nav.html" %}
{% endblock nav %}
    
{% block home %}
{% include "partials/home.html" %}
{% endblock home %}




{% block service %}
{% include "partials/service.html" %}
{% endblock service %}

{% block categories %}
{% include "partials/categories.html" %}
{% endblock categories %}

{% block recent_jobs %}
{% include "partials/recent_jobs.html" %}
{% endblock recent_jobs %}

{% block flex %}
{% include "partials/flex.html" %}
{% endblock flex %}


{% block testimonals %}
{% include "partials/testimonals.html" %}
{% endblock testimonals %}

{% block blog %}
{% include "partials/blog.html" %}
{% endblock blog %}

{% block newsletter %}
{% include "partials/newsletter.html" %}
{% endblock newsletter %}

{% block footer%}
{% include "partials/footer.html" %}
{% endblock footer%}
  
{% block script %}
{% include "partials/script.html" %}
{% endblock script %}