
{% extends 'partials/layout.html' %}
{% load cripsy_forms_tags %}
    
{% block nav %}
{% include "partials/nav.html" %}
{% endblock nav %}
    
{% block home %}
<div class="hero-wrap js-fullheight" style="background-image: url('/static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5" data-scrollax=" properties: { translateY: '70%' }">
          	<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Accounts</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Signup</h1>
          </div>
        </div>
      </div>
    </div>
{% endblock home %}


{% block recent_jobs %}
    <div class="container">
                    <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Recently Added Jobs</span>
                <h2 class="mb-4">{{ category_jobs_list.0.category }}</h2>
            </div>
            </div>
            <div class="row">
                <form method="post">
                  {% csrf_token %}
                  {{ form|cripsy }}
                    <button type="submit">Signup</button>
                </form>
            </div>
    </div>
{% endblock recent_jobs %}



  
{% block script %}
{% include "partials/script.html" %}
{% endblock script %}